<div [ngSwitch]="widget.widgetType">
  <div *ngSwitchCase="'HEADING'">
    <app-widget-header [widget]="widget" [userId]="userId" [websiteId]="websiteId" [pageId]="pageId"></app-widget-header>
  </div>
  <div *ngSwitchCase="'IMAGE'">
    <app-widget-image [widget]="widget" [userId]="userId" [websiteId]="websiteId" [pageId]="pageId"></app-widget-image>
  </div>
  <div *ngSwitchCase="'YOUTUBE'">
    <app-widget-youtube [widget]="widget" [userId]="userId" [websiteId]="websiteId" [pageId]="pageId"></app-widget-youtube>
  </div>

  <div *ngSwitchCase="'HTML'">
    <app-widget-html [widget]="widget" [userId]="userId" [websiteId]="websiteId" [pageId]="pageId"></app-widget-html>
  </div>

  <div *ngSwitchCase="'TEXT'">
    <app-widget-text [widget]="widget" [userId]="userId" [websiteId]="websiteId" [pageId]="pageId"></app-widget-text>
  </div>
</div>
