<nav class="navbar navbar-light bg-light">

  <form class="form-inline">
    <a class="navbar-brand float-left" routerLink="/user/{{userId}}/website/{{websiteId}}/page">
      <span class="fa fa-chevron-left rotate"></span>
    </a>
    <a class="navbar-text cl-text-bold" [routerLink]="">
      New Page
    </a>
  </form>
  <ul class="navbar-nav ml-auto">
    <a (click)="create()" routerLink="/user/{{userId}}/website/{{websiteId}}/page" class="navbar-brand pull-right">
      <span class="fa fa-check"></span>
    </a>
  </ul>
</nav>

<div class="container-fluid">
  <form #inputForm="ngForm">
    <div class="form-group">
      <label for="page-name"><h5>Name</h5></label>
      <input type="text" class="form-control" id="page-name" name="name" placeholder="Page Name" ngModel required #name="ngModel">
    </div>
    <div class="form-group">
      <label for="page-title"><h5>Title</h5></label>
      <input type="text" class="form-control" id="page-title" name="title" placeholder="Page Title" ngModel required #title="ngModel">
    </div>
  </form>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <a class="navbar-brand pull-right" routerLink="/user/{{userId}}">
      <span class="fa fa-user"></span>
    </a>
  </ul>
</nav>
