<!--<ul id = "sortable-1">-->
  <!--<li class = "default">Product 1</li>-->
  <!--<li class = "default">Product 2</li>-->
  <!--<li class = "default">Product 3</li>-->
  <!--<li class = "default">Product 4</li>-->
  <!--<li class = "default">Product 5</li>-->
  <!--<li class = "default">Product 6</li>-->
  <!--<li class = "default">Product 7</li>-->
<!--</ul>-->

<!--<p appChangeBgColor [changeBgColor]="color" >Hellow world</p>-->

<!--The content below is only a placeholder and can be replaced.-->
<!--<a routerLink="/login">Login</a>-->
<!--<a routerLink="/register">Register</a>-->
<!--<a routerLink="/profile">Profile</a>-->
<router-outlet></router-outlet>
