<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <a class="navbar-brand" routerLink="/user/{{userId}}/website/{{websiteId}}/page">
      <span class="fa fa-chevron-left rotate"></span>
    </a>
    <a class="navbar-text cl-text-bold" [routerLink]="">
      Edit Page
    </a>
  </form>
  <ul class="navbar-nav ml-auto">
    <a (click)="update()" routerLink="/user/{{userId}}/website/{{websiteId}}/page" class="navbar-brand pull-right">
      <span class="fa fa-check"></span>
    </a>
  </ul>
</nav>

<div class="container-fluid">
  <form #inputForm="ngForm">
    <div class="form-group">
      <label for="page-name"><h5>Name</h5></label>
      <input type="text" class="form-control" id="page-name" placeholder="Page Name" name="name" [(ngModel)]="page.name" required>
    </div>
    <div class="form-group">
      <label for="page-title"><h5>Title</h5></label>
      <input type="text" class="form-control" id="page-title" placeholder="Page Title" name="title" [(ngModel)]="page.title" required>
    </div>
    <a class="btn btn-danger  btn-block"
       (click)="delete()" routerLink="/user/{{userId}}/website/{{websiteId}}/page">Delete</a>
  </form>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <a class="navbar-brand pull-right" routerLink="/user/{{userId}}">
      <span class="fa fa-user"></span>
    </a>
  </ul>
</nav>
