<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <a class="navbar-brand" routerLink="/user/website/{{websiteId}}/page/{{pageId}}/widget">
      <span class="fa fa-chevron-left rotate"></span>
    </a>
    <a class="navbar-text cl-text-bold" [routerLink]="">
      Widgets Edit
    </a>
  </form>
  <ul class="navbar-nav ml-auto">
    <a (click)="update()" class="navbar-brand pull-right">
      <span class="fa fa-check"></span>
    </a>
  </ul>
</nav>

<div class="container">
  <form #inputForm="ngForm">
    <div class="form-group">
      <label for="image-URL">URL</label>
      <input type="text" class="form-control" id="image-URL" placeholder="Image URL" name='Url' [(ngModel)]="widget.url" required>
    </div>
    <div class="form-group">
      <label for="image-width">Width</label>
      <input type="text" class="form-control" id="image-width" placeholder="100%" name='Text' [(ngModel)]="widget.width" required>
    </div>
  </form>
  <form ngNoForm action="{{baseUrl}}api/upload" method="post" enctype="multipart/form-data" >
    <label for="myFile">Upload Image</label>
    <input  name="myFile" id="myFile"  type="file" class="form-control form-group"/>
    <input  name="widgetId" value="{{widget._id}}" style="display: none"/>
    <input  name="pageId" value="{{pageId}}" style="display: none"/>
    <input  name="websiteId" value="{{websiteId}}" style="display: none"/>
    <input  name="userId" value="{{userId}}" style="display: none"/>
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
  </form>
  <a class="btn btn-block btn-secondary" routerLink="/user/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}/flickr" >Search</a>
  <a class="btn btn-danger  btn-block" routerLink="/user/website/{{websiteId}}/page/{{pageId}}/widget" (click)="delete()">Delete</a>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <a class="navbar-brand pull-right" routerLink="/profile">
      <span class="fa fa-user"></span>
    </a>
  </ul>
</nav>
